#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'
#
#               Example environment configuration
#
#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'

# By default, the examples support both mnemonic-based and private key-based authentication
# 
# You don't need to set both of these values, just pick the one that you prefer and set that one
#
# By default, the Solana example will use the default cluster RPC URL if no other value is provided
# For SOLANA_PRIVATE_KEY use base58 encoding
MNEMONIC=
PRIVATE_KEY=
SOLANA_PRIVATE_KEY=
RPC_URL_SOLANA=
RPC_URL_SOLANA_DEVNET=https://api.devnet.solana.com
SOLANA_SECRET_KEY=
SEPOLIA_CONTRACT_ADDRESS=0x55a3EE57b760BfFcfce101Ff442415e1C924c578
SOLANA_CONTRACT_ADDRESS=Ev2DyhBMcyMUndHbzEur5jZjMm7NRgDTPRgtujE4eCBp